:root {
    --bluemain: #38bdf8;
    --bluelight: #7dd3fc;
    --bgwhite: #e0f2fe;
    --bgwhitelight: #f0f9ff;
}

* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: grid;
    grid-template: auto 1fr / 1fr 6fr;
    min-height: 100vh;
}

.header {
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    align-items: center;
    box-shadow: 0px 5px 10px -10px black;
    z-index: 1;
}

form {
    display: flex;
    flex: 1;
    padding: 1rem;
    gap: 1rem;
}

button {
    border: none;
    background: none;
    transform: rotate(90deg);
}

button:hover {
    transform: scale(1.2) rotate(90deg);
    cursor: pointer;
}

input {
    flex: 1;
    background-color: var(--bgwhite);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}

input:focus {
    text-indent: 1rem;
    outline: 2px solid var(--bluemain);
}

.welcome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2rem;
    padding: 1rem;
}

.welcome img {
    max-width: 5rem;
}

.header .iconify {
    color: black;
}

.sidebar {
    background-color: var(--bluemain);
    grid-row: 1 / end;
    display: grid;
    align-content: flex-start;
    gap: 3rem;
    color: white;
    font-size: 2rem;
}

.sidebar > * {
   justify-self: flex-start;
}

.title {
   margin-top: 3rem;
   font-size: 3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 1rem;
}

.iconify {
    height: 2rem;
    width: auto;
    color:white;
}

.iconify.titleIcon {
    width: 4rem;
    height: auto;
}

.menu, .menusettings {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 20rem;
    justify-self: center;
}

.menu-item {
    display: flex;
    column-gap: 1rem;
    align-items:flex-end;
}

.mainContent {
    display: grid;
    grid-template: auto / 2.5fr 1fr;
    background-color: var(--bgwhitelight);
}

.projects {
    display: grid;
    grid-template: auto 1fr 1fr 1fr / repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    margin: 2rem;
}

.projects > p {
    grid-column: 1 / -1;
    font-size: 1.4rem;
}

.project {
    max-height: 20rem;
    box-sizing: border-box;
    border-left: 8px solid rgb(255, 205, 98);
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
    box-shadow: 2px 3px 2px lightgrey;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.projectTitle {
    font-weight: bold;
    font-size: 1.2rem;
}

.projectIcon {
    max-width: 2rem;
    color: black;
    float: right;
    margin-right: 1rem;
}

.right-info {
    background-color: var(--bgwhitelight);
    padding: 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
}

.announcements, .trending {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.trending {
    margin-top: 2rem;
}

.announcements > p, .trending > p {
    font-size: 1.4rem;
}

.announcementlist, .trendinglist {
    background-color: var(--bgwhite);
    border: 1px solid black;
    padding: 1rem;
}

@media (max-width: 900px) {
    .mainContent {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {

    body {
        grid-template: repeat(auto-fit, 1fr) / 1fr;
    }

    .header {
        grid-column: 1 / end;
    }

    .sidebar {
        display: grid;
        grid-column: 1 / end;
        justify-content: center;
    }

    .title {
    }

    .menu {
        /* display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        font-size: 1rem;
    }

    .menu-item {
    }

    .menusettings, .title, .menu {
        margin-left: 0;
    }

    .mainContent {
        grid-column: 1 / end;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .projects {
        grid-column: 1 / 2;
    }
}